/* Style the buttons that are used to open and close the accordion */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
}

/* Add a background color to the accordion if it is clicked on (active) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* Show the panel when the active class is present */
.active + .panel {
    display: block;
}
footer.bg-dark.text-light p, footer.bg-dark.text-light h2 {
    color: white;
}